In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1541639510796, 20, 'paid', None, None, 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2, 1541639702796, 20, 'paid', None, None, 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, 1541639872796, 20, 'paid', None, None, 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, 1541640145796, 20, 'paid', None, None, 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (5, 1541640378796, 20, 'paid', None, None, 19, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(20, 'Aiden', 'Ramirez', 'M', 'paid'),
 (11, 'Christian', 'Porter', 'F', 'free'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (29, 'Jacqueline', 'Lynch', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 'AR36F9J1187FB406F1', 0, 230.71302),
 ('SOOJPRH12A8C141995', 'Loaded Like A Gun', 'ARBGXIG122988F409D', 0, 173.19138),
 ('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', 0, 511.16363),
 ('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', 2004, 207.43791),
 ('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', 1994, 236.17261)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 9.51695, 56.27609),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', -122.42005, 37.77916),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', nan, nan),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1541639510796, 1, 8, 45, 11, 2018, 3),
 (1541639702796, 1, 8, 45, 11, 2018, 3),
 (1541639872796, 1, 8, 45, 11, 2018, 3),
 (1541640145796, 1, 8, 45, 11, 2018, 3),
 (1541640378796, 1, 8, 45, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [17]:
%%sql 
SELECT u.first_name, u.last_name, s.title
FROM songplays ss
LEFT JOIN songs s using (song_id)
LEFT JOIN users u using (user_id) WHERE s.title is not null;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [25]:
%%sql 
SELECT u.user_id, u.first_name, u.last_name, s.title 
FROM songs s
LEFT JOIN songplays sp USING (song_id)
LEFT JOIN users u USING (user_id);

 * postgresql://student:***@127.0.0.1/sparkifydb
71 rows affected.

[(None, None, None, "I Didn't Mean To"),
 (None, None, None, 'Ten Tonne'),
 (None, None, None, 'Sonnerie lalaleulé hi houuu'),
 (None, None, None, 'Something Girls'),
 (None, None, None, 'A Higher Place (Album Version)'),
 (None, None, None, 'Insatiable (Instrumental Version)'),
 (None, None, None, 'Jenny Take a Ride'),
 (None, None, None, 'The Moon And I (Ordinary Day Album Version)'),
 (None, None, None, 'Auguri Cha Cha'),
 (None, None, None, 'Sohna Nee Sohna Data'),
 (None, None, None, 'Got My Mojo Workin'),
 (None, None, None, 'Clementina Santafè'),
 (None, None, None, 'Living Hell'),
 (None, None, None, 'Midnight Star'),
 (None, None, None, 'Crazy Mixed Up World'),
 (None, None, None, 'City Slickers'),
 (None, None, None, 'Music is what we love'),
 (None, None, None, 'It Makes No Difference Now'),
 (None, None, None, 'Tonight Will Be Alright'),
 (None, None, None, 'Get Your Head Stuck On Your Neck'),
 (None, None, None, 'Harajuku Girls'),
 (None, None, None, 'James (Hold The Ladder Steady)'),
 (None, None, None, 'High Tide'),
 (None, None, None, 'Den Pai Alo'),
 (None, None, None, 'Loaded Like A Gun'),
 (None, None, None, 'Synthetic Dream'),
 (None, None, None, 'Caught In A Dream'),
 (None, None, None, 'The Emperor Falls'),
 (None, None, None, 'Native Soul'),
 (None, None, None, 'Der Kleine Dompfaff'),
 (None, None, None, 'Kassie Jones'),
 (None, None, None, 'Superconfidential'),
 (None, None, None, 'The Urgency (LP Version)'),
 (None, None, None, 'Wild Rose (Back 2 Basics Mix)'),
 (None, None, None, 'La Culpa'),
 (None, None, None, 'Young Boy Blues'),
 (None, None, None, 'It Wont Be Christmas'),
 (None, None, None, 'Soul Deep'),
 (None, None, None, 'I Hold Your Hand In Mine [Live At Royal Albert Hall]'),
 (None, None, None, 'Laws Patrolling (Album Version)'),
 (None, None, None, 'The Ballad Of Sleeping Beauty'),
 (None, None, None, 'Pink World'),
 (None, None, None, 'Amor De Cabaret'),
 (None, None, None, 'Twist and Shout'),
 (None, None, None, 'Keepin It Real (Skit)'),
 (None, None, None, 'Intro'),
 (None, None, None, 'Salt In NYC'),
 (None, None, None, 'Sono andati? Fingevo di dormire'),
 (None, None, None, 'Baby Come To Me'),
 (None, None, None, 'Broken-Down Merry-Go-Round'),
 (None, None, None, 'Rumba De Barcelona'),
 (None, None, None, 'Setanta matins'),
 (None, None, None, 'OAKtown'),
 (None, None, None, 'Made Like This (Live)'),
 (None, None, None, 'Floating'),
 (None, None, None, 'Streets On Fire (Explicit Album Version)'),
 (None, None, None, 'Kutt Free (DJ Volume Remix)'),
 (None, None, None, 'Face the Ashes'),
 (None, None, None, 'Erica (2005 Digital Remaster)'),
 (None, None, None, 'Drop of Rain'),
 (None, None, None, '¿Dónde va Chichi?'),
 (None, None, None, 'Blessed Assurance'),
 (None, None, None, 'Wessex Loses a Bride'),
 (None, None, None, 'I Think My Wife Is Running Around On Me (Taco Hell)'),
 (None, None, None, 'Larger Than Life'),
 (None, None, None, 'Knocked Out Of The Park'),
 (None, None, None, 'Setting Fire to Sleeping Giants'),
 (None, None, None, 'Spanish Grease'),
 (None, None, None, 'A Whiter Shade Of Pale (Live @ Fillmore West)'),
 (None, None, None, 'Prognosis'),
 (None, None, None, 'Do You Finally Need A Friend')]